<form action='/' method="get">
    <div id="navigation" class="center">
        <a href="/?chapter=<%= chapter - 1%>">previous</a>
        <label for="chapter">Chapter: </label>
        <input type="text" id="chapter" name="chapter" value="<%= chapter%>">
        <a href="/?chapter=<%= +chapter + 1%>">next</a>
    </div>
</form>